body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#app-container {
  display: flex;
  flex-direction: row;
}

#fiatContainer, #bancosContainer, #cryptoContainer {
  margin: 10px;
}

#fiatTitle, #bancosTitle, #cryptoTitle {
  text-align: center;
}

table > thead > tr > th> button {
  border: none;
  background-color: white;
}

#fiatTable {
  td {
    padding-left: 7px;
    padding-right: 7px;
  }
}

#fiatHeader, #bancosHeader, #cryptoHeader {
  border-top-width: 0 !important;
}

th {
  font-weight: 400;
  
  button {
    width: 100%;
  };
}

tr {
  border-collapse: collapse;
  border-top-width: 1px !important;
}

td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #dfdfdf;
}

tbody td:nth-child(1) {
  text-align: left;
  padding-left: 5px;
}
tbody td:nth-child(4) {
  padding-right: 5px;
  padding-left: 10px;
}

@media (max-width: 1000px) {
  #fiatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #app-container {
    display: flex;
    flex-direction: column;
  }

}